<main style="margin-right: -200px">
  <!-- Section -->
  <section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 d-flex align-items-center justify-content-center">
          <div
            class="bg-white shadow border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-500"
          >
            <div class="text-center text-md-center mb-4 mt-md-0">
              <h3 class="mb-0 h3">
                {{ "frmControls.forgotPassword" | translate }}
              </h3>
            </div>
            <form [formGroup]="forgotPassForm" (ngSubmit)="forgotPasse()">
              <div class="form-group">
                <label>{{ "UserInfo.EmailAddress" | translate }} </label>
                <input
                  type="text"
                  formControlName="email"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
                />
                <div
                  *ngIf="submitted && f['email'].errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f['email'].errors['required']">
                    {{ "frmControls.emailNotMentionned" | translate }}
                  </div>
                  <div *ngIf="f['email'].errors['email']">
                    {{ "frmControls.emailMalFormed" | translate }}
                  </div>
                </div>
              </div>

              <div style="margin-top: 10px" class="form-group">
                <button type="submit" class="btn btn-primary">
                  {{ "UserInfo.save" | translate }}
                </button>
                <button
                  style="margin-right: 10px"
                  type="button"
                  class="btn btn-warning float-right"
                  (click)="onReset()"
                >
                  {{ "UserInfo.reset" | translate }}
                </button>
              </div>
            </form>
            <div class="d-flex justify-content-center align-items-center mt-4">
              <span class="fw-normal">
                {{ "UserInfo.alreadyHaveAnAccount" | translate }}
                <a [routerLink]="['/login']" class="fw-bold">{{
                  "UserInfo.login" | translate
                }}</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
