.logout{
    background-color: #0084bd !important;
    color: #fff !important;
}
.logout:hover{
    background-color: #fff !important;
    color: #0084bd !important;
    box-shadow:#1B2C51 1px 1px 1px 1px !important;
    border-color: #1B2C51 !important;
}