<footer class="bg-white rounded shadow p-5 mb-4 mt-4">
  <div class="row">
    <div class="col-md-6 text-center text-md-end mb-3 mb-md-0 order-md-1"> 
       {{'footer.allRightReserved'|translate}}
    </div>
   
    <div class="col-md-6 align-items-left text-md-start order-md-2">
        <a class="btn btn-primary btn-sm-square rounded-circle me-2" href=""><i class="fab fa-facebook-f ml-3"></i></a>
        <a class="btn btn-primary btn-sm-square  rounded-circle me-2" href=""><i class="fab fa-twitter ml-3"></i></a>
        <a class="btn btn-primary btn-sm-square  rounded-circle me-2" href=""><i class="fab fa-linkedin-in"></i></a>
        <a class="btn btn-primary btn-sm-square  rounded-circle me-2" href=""><i class="fab fa-instagram"></i></a>
        <a class="btn btn-primary btn-sm-square  rounded-circle me-2" href=""><i class="fab fa-tiktok "></i></a>
        <a class="btn btn-primary btn-sm-square  rounded-circle me-2" href=""><i class="fab fa-youtube "></i></a>
    </div>
  </div>
</footer>
